<li id="photo">
    <div id="photo-contents">
        <p>
        <div id="photo-heading-container">
            <div>
                <div>
                    <span id="photo-username">
                        <%= photo.user.name %>
                        <!--name of the user who is uploading a photo -->
                    </span>
                </div>
                <div>
                    <span id="photo-time">
                        <%=photo.createdAt.toDateString()%>
                        <!--time of photo uploading-->
                    </span>
                </div>
            </div>
        </div>
        <br>
        <div id="photo-content">
            <img src="<%=photo.name%>" id="uploaded-photo">
            <!--show uploaded photo-->
        </div>
        <br>
        <div class="delete">
            <% if (locals.user && locals.user.id == photo.user.id){ %>
            <!--if the photo is uploaded by the logged in user then only he can delete that photo-->
            <small>
                <a class="delete-post-button" href="/photos/destroy/<%= photo.id %>">Delete</a>
                <!--Delete photo-->
            </small>
            <% } %>
        </div>

</li>