<%if(locals.user){
    if(user.type==="instructor")
    {%>
<div id="photo-form">
    <!--upload photos -->
    <form action="/photos/addphotos/<%=user.id%>" enctype="multipart/form-data" method="post">
        <span>Upload Your Edited Photos</span>
        <br><br>
        <input type="file" name="photos" placeholder="Upload photos" />
        <input type="submit" value="Upload" id="login">
    </form>
    <br>
</div>
<div>
    <span id="heading">All Uploaded Images</span>
    <% for(photo of photos){%>
    <%- include('_photo') -%>
    <%} %>
</div>
<%}
else
{%>
<div id="photo-form">
    <!--upload photos -->
    <form action="/photos/addphotos/<%=user.id%>" enctype="multipart/form-data" method="post">
        <span>Upload Your Edited Photos</span>
        <br><br>
        <input type="file" name="photos" placeholder="Upload photos" />
        <input type="submit" value="Upload" id="login">
    </form>
    <br>
</div>
<div>
    <span id="heading">Your Uploaded Images</span>
    <% for(photo of photos){ 
    if(locals.user.name==photo.user.name){%>
    <%- include('_photo') -%>
    <%}
} %>
</div>

<%}

}%>