#main-heading-instructor{
    margin-left:20%;
}
#main-heading-student{
    margin-left:30%;
}
#photo-form{
    margin-left: 30px;;
}
#photo-form span{
    font-size:20px;
    font-weight: 700;
}
.text-area
{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #495057;
    border-radius: .25rem;
}
#images-container{
    display:flex;
}
#left{
    width:50%;
}
#left-heading
{
    font-size: 20px;
    font-weight: 700;
    margin-left: 45%;
}
#student-left-heading
{
    font-size: 20px;
    font-weight: 700;
    margin-left: 30%;
}
#right{
    width:50%;
}

#right-heading
{
    font-size: 20px;
    font-weight: 700;
    margin-left: 30%;
}









